* {
    box-sizing: border-box;
}

.content-container {
    min-width: 400px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.view-select-container {
    display: flex;
    background-color: #d5d5d5;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
    gap: 3px;
}

.view-select-container img {
    width: 2em;
    height: 2em;
    opacity: 0.5;
    transition: 0.5s
}

.view-select-container img.active {
    opacity: 1;
}

.filter input {
    margin-block: 10px;
    min-width: 400px;
}

.filter {
    min-width: 50vw;

}

.data-container {
    width: 100%;
}

button {
    border-radius: 5px;
    border: 0;
}

button.disabled {
    opacity: 0.4;
}

button.disabled:hover {
    opacity: 0.4;
}

button:hover {
    opacity: 0.7;
}

.read-btn,
.update-btn,
.delete-btn {
    background-color: white;
    border: 2px solid lightgrey;
    display: flex;
    padding: 3px;
    ;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.read-btn svg,
.update-btn svg,
.delete-btn svg {
    margin-inline-start: 1px;
}

.delete-btn {
    border: 2px solid rgb(238, 110, 110);
    color: rgb(238, 110, 110);
}

.update-btn {
    border: 2px solid rgb(207, 146, 40);
    color: rgb(207, 146, 40);
    
}

.read-btn {
    color: rgb(97, 97, 229);
    border: 2px solid rgb(97, 97, 229);

}


.add-approve-btn,
.add-cancel-btn,
.add-btn {
    width: 3em;

    color: white;
    background-color: rgb(92, 90, 93);
}

.add-approve-btn,
.add-cancel-btn {
    margin: auto auto;
}

.add-btn {
    margin-block: 5px;
}

.add-approve-btn:hover,
.add-cancel-btn:hover,
.add-btn:hover {
    background-color: rgb(145, 143, 146);

}

.add-approve-btn:active,
.add-cancel-btn:active,
.add-btn:active {
    background-color: rgb(145, 143, 146);
    box-shadow: black inset 2px 2px 2px;
}

.details-modal {
    width: 40vw;
    height: 60vw;
}

dialog form {
    display: flex;
    flex-flow: column;
    align-items: center;
}


.success-message {
    display: none;

    position: fixed;
    z-index: -1;

    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 0.2em;
    background-color: rgb(42, 89, 41);
    color: rgb(227, 240, 178);
    text-align: center;

    transition: 0.2s;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    margin-block: 10px;
    background-color: rgb(244, 243, 243);
    box-shadow: 3px 3px 3px rgb(167, 166, 166);
}

.book-card h2 {
    font-size: 10px;
    margin-inline-start: 0;
}

.book-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7em
}

.book-cover {
    padding: 0.2em;
    width: 70%;
    height: 80%;
}

.book-title {
    margin-inline-start: 0;
}

.modal-close-btn {
    margin-top: 10px;
}

input {
    width: 100%;
    margin-block: 10px;
}

dialog::backdrop {
    opacity: 0.8;
    background-color: white;
}

img {
    margin: auto auto;
    width: 20vw;
    height: 30vw;
}

.star.active {
    color: rgb(248, 211, 1);
    opacity: 0.5;

}

.star.selected {
    color: rgb(248, 211, 1);
    opacity: 1;
}



/* table view */

th {
    border: 0.1em solid rgb(159, 157, 157);
    background-color: lightgray;
    padding: 0.5em;
}

td {
    height: 2em;
    
    align-content: center;

    padding-inline: 0.4em;
    padding-block: 0.2em;
}

tr:nth-child(even) {
    background-color: rgb(244, 243, 243);
}

tr:last-child td {
    border-bottom: 0.1em solid rgb(159, 157, 157);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto auto;
}

.table-view .actions {
    background-color: transparent;
    border: 0;
}



/* grid-view */

.data-container.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.data-container.grid-view h2 {
    margin: 0;
}

.grid-view .book-card {
    padding: 10px;
    border: 2px solid lightgrey;
}

.grid-view .book-header{
    flex-direction: column;
    align-items: center;
}

/* list view */

.list-view .book-card {
    flex-shrink: 1;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    
    background-color: white;
    box-shadow: 0 0 0;
    transition: 0.2s;
}

.book-card .card-header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    
    align-items: center;
    padding: 5px;
    gap: 5px;
    
    background-color: rgb(245, 245, 245);
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 3px rgb(155, 154, 154);
}

.card-icon {
    width: 1em;
    height: 1em;
    
    margin-inline-start: 0;
    margin-inline-end: 1px;
}

.collapse-card-icon {
    display: none;
}

.card-data {
    display: none;
    
    width: 0;
    height: 0;
    
    justify-items: flex-start;
    align-items: center;
    padding: 5px;
    
    background-color: rgb(255, 255, 255);
    opacity: 0;
}

.card-data.expanded {
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    width: 99%;
    
    margin-inline: auto;
    padding: 0;
    
    opacity: 1;
    animation: expand 0.2s ease;
    border: 2px solid lightgrey;
}

@keyframes expand {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes collapse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    1000% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.book-information {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "cover rate"
        "cover price";

    width: 100%;
    height: fit-content;

    gap: 10px;
    padding: 10px;
    align-items: end;
}

.book-information .change-rating-btn {
    grid-area: btn;

}

.book-information .book-cover {
    margin: 0;
    width: 4em;
    height: 6em;
    background-color: lightgray;
    border: 2px solid lightgrey;

    grid-area: cover;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-top: 2px solid lightgrey;
    padding: 5px;
    gap: 10px;
    background-color: rgb(245, 245, 245);

}

.grid-view .actions {
    flex-direction: column;

}

.grid-view .actions img {
    margin-inline-start: 0;
    flex-basis: fit-content;

}

.grid-view .actions button {
    justify-content: flex-start;
    align-items: center;
}

.card-data.expanded .rate {
    display: flex;
    flex-direction: column;
    opacity: 0.6;

    position: relative;
    top: 10px;
    margin-block-end: 5px;
    grid-area: rate;
    justify-content: flex-start;
    align-items: flex-start;
}


.card-data.expanded .book-price {
    grid-area: price;
    display: flex;
    justify-content: flex-start;
    align-self: end;

}