* {
    box-sizing: border-box;
}


th {
    border: 0.1em solid rgb(159, 157, 157);

}

.content-container {
    min-width: 50%;
width: fit-content;
    margin: auto auto;
}

td {
    height: 2em;
    padding-inline: 0.4em;
    padding-block: 0.2em;
    align-content: center;
}

tr:nth-child(even) {
    background-color: rgb(227, 223, 223);
}

tr:last-child td {
    border-bottom: 0.1em solid rgb(159, 157, 157);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto auto;

}

tr td:nth-child(2) {
    width: 6em;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em
}

.flex-wrapper:first-child {
    justify-content: flex-start;

}

.book-title {
    margin-inline-start: 0;
}

th {
    background-color: lightgray;
    padding: 0.5em;
}

button {
    border-radius: 5px;
    border: 0;
}

button.disabled {
    opacity: 0.4;
}

button.disabled:hover {
    opacity: 0.4;
}

button:hover {
    opacity: 0.7;
}

.read-btn {
    background-color: lightskyblue;
}

.update-btn {
    background-color: moccasin;

}

.delete-btn {
    background-color: orange;

}

.add-approve-btn,
.add-cancel-btn,
.add-btn {
    width: 3em;
    color: white;
    background-color: rgb(92, 90, 93);
}

.add-approve-btn,
.add-cancel-btn {
    margin: auto auto;
}

.add-btn {
    margin: 5px auto;
}

.add-approve-btn:hover,
.add-cancel-btn:hover,
.add-btn:hover {
    background-color: rgb(145, 143, 146);

}

.add-approve-btn:active,
.add-cancel-btn:active,
.add-btn:active {
    background-color: rgb(145, 143, 146);
    box-shadow: black inset 2px 2px 2px;
}

.input-row {
    display: none;
    /* border-top: 2px solid rgb(227, 223, 223); */
}

.input-row td {
    background-color: white;
}

input {
    width: 100%;
    margin-block: 3px;
}

.add-approve-btn,
.add-cancel-btn {}

dialog form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

img {
    margin: auto auto;
    width: 30vw;
    height: 40vw;
}

.filter {
    margin-block: 10px;
    display: flex;
}

.success-message {
    display: none;

    position: fixed;
    z-index: -1;

    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 0.2em;
    background-color: rgb(42, 89, 41);
    color: rgb(227, 240, 178);
    text-align: center;

    transition: 0.2s;
}

.rate-action-btn {
    margin-block: 5px;
}

.rate-minus-btn,
.rate-plus-btn,
.rate-numbers-container {
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    padding: 0.2em;
    text-align: center;
    margin-inline: 0.1em;
    background-color: rgb(192, 192, 245);
    border: solid 3px rgb(114, 114, 208);
    border-radius: 5px;
    font-weight: 200;
}

.rate-minus-btn:hover,
.rate-plus-btn:hover {
    opacity: 0.7;
}

.rate-minus-btn:active,
.rate-plus-btn:active {
    box-shadow: inset -1px 1px 2px rgb(49, 49, 90);
}

.rate-numbers-container {
    color: rgb(106, 97, 47);
    width: 2em;
    font-size: 1.5em;
    line-height: 100%;
}

.rate-container {
    display: flex;

}

.rate-plus-inner {
    position: relative;
    height: 70%;
    flex-basis: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    background-color: rgb(114, 114, 208);
    color: rgb(243, 223, 113);
    text-align: center;
    line-height: 70%;
    border-radius: 50%;
}

.modal-close-btn {
    margin-top: 10px;
}

.minus-sign,
.plus-sign-horizontal {
    position: absolute;
    background-color: rgb(243, 223, 113);
    width: 70%;
    height: 20%;
    /* z-index: 2; */
}

.plus-sign-vertical {
    position: absolute;
    background-color: rgb(243, 223, 113);
    width: 20%;
    height: 70%;
}

.rate-action-btn {
    background-color: rgb(114, 114, 208);
    color: rgb(243, 223, 113);
    outline: 2px solid rgb(243, 223, 113);
    outline-offset: -3px;
    padding: 6px
}

.rate-action-btn:hover {
    opacity: 0.7;
}

.rate-action-btn:active {
    box-shadow: inset -1px 1px 2px rgb(49, 49, 90);
}

.rating-chip {
    opacity: 0.5;
    margin-inline-start: 1.5em;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8em;
    padding: 0;
}

.high-rating-chip {
    color: #155724;
}

.medium-rating-chip {
    color: #856404;
}

.low-rating-chip {
    color: #721c24;
}

.view-select-container img {
    width: 2em;
    height: 2em;
    opacity: 0.5;
    transition: 0.5s
}

.view-select-container img.active{
    opacity: 1;

}

.view-select-container {
    display: flex;
    background-color: #d5d5d5;
    width: fit-content;
    border-radius: 5px;
    padding:3px;
    gap: 3px;
}


.book-card h2 {
    font-size: 10px;
    margin-inline-start: 0;
}

.table-container {
    width: 100%;
}

.table-container.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.table-container img {
    background-color: white;
    padding:0.2em;
    width: 3em;
    height: 5em;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
    gap: 5px;
    padding: 10px;

}


.table-container.grid-view h2 {
    margin: 0;
}

dialog::backdrop{
    opacity: 0.8;
    background-color: white;
}