* {
    box-sizing: border-box;
}

td,
th {
    border: 0.1em solid rgb(159, 157, 157);

}

.table-container {
    width: 80vw;
    margin: auto auto;
}

td {
    padding-inline: 0.4em;
    padding-block: 0.2em;
    align-content: center;
}

tr:nth-child(odd) {
    background-color: rgb(227, 223, 223);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto auto;

}

tr td:nth-child(2){
width:6em;
}

th {
    background-color: lightgray;
    padding: 0.5em;
}

button {
    border-radius: 5px;
    border: 0;
}

.read-btn {
    background-color: lightskyblue;
}

.update-btn {
    background-color: moccasin;

}

.delete-btn {
    background-color: orange;

}

.add-approve-btn,
.add-cancel-btn,
.add-btn {
    width: 3em;
    margin: 5px auto;

    color: white;
    background-color: rgb(92, 90, 93);
}

.add-approve-btn:hover,
.add-cancel-btn:hover,
.add-btn:hover {
    background-color: rgb(145, 143, 146);

}

.add-approve-btn:active,
.add-cancel-btn:active,
.add-btn:active {
    background-color: rgb(145, 143, 146);
    box-shadow: black inset 2px 2px 2px;
}

.input-row {
    display: none;
}

input {
    width: 100%;
    margin: auto auto;
}

.add-approve-btn,
.add-cancel-btn {
    display: none;
}

dialog form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

img {
    margin: auto auto;
    width: 30vw;
    height: 40vw;
}

.filter {
    margin-block: 10px;
    display: flex;
}

.success-message {
    display: none;

    position: fixed;
    z-index: -1;

    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 0.2em;
    background-color: rgb(42, 89, 41);
    color: rgb(227, 240, 178);
    text-align: center;

    transition: 0.2s;
}

.price-input{
    width: 6em;
}